In [3]:
import os
import json
import numpy as np
import pandas as pd
from glob import glob

In [9]:
def preprocess_landmarks(landmarks):
    if len(landmarks) != 21:
        return None
    wrist = landmarks[0]
    normalized = [(x - wrist[0], y - wrist[1]) for x, y in landmarks]
    return np.array(normalized).flatten()

all_data = []

# Đọc tất cả file .hands.json
for file_path in glob("json/*.hands.json"):
    label = os.path.basename(file_path).split(".")[0]  # lấy tên nhãn

    with open(file_path, "r") as f:
        data = json.load(f)

    for frame in data:
        if "hands" in frame and frame["hands"]:
            hand = frame["hands"][0]
            features = preprocess_landmarks(hand)
            if features is not None:
                row = [frame["frame_index"]] + list(features) + [label]
                all_data.append(row)

# Số chiều đặc trưng = 21 điểm × 2 = 42
columns = ["frame_index"] + [f"x{i}" if i % 2 == 0 else f"y{i//2}" for i in range(42)] + ["label"]

# Tạo DataFrame
df = pd.DataFrame(all_data, columns=columns)

# Kiểm tra rỗng
if df.empty:
    print("❌ Dataset bị rỗng — kiểm tra xem có landmarks không?")

In [10]:
df.head()  # Hiển thị 5 dòng đầu tiên

,frame_index,x0,y0,x2,y1,x4,y2,x6,y3,x8,...,y16,x34,y17,x36,y18,x38,y19,x40,y20,label
0,0,0,0,21,-20,41,-38,57,-56,74,...,-123,-33,-56,-43,-77,-50,-88,-56,-99,a
1,1,0,0,20,-20,41,-39,57,-56,74,...,-124,-33,-56,-43,-77,-49,-89,-55,-100,a
2,2,0,0,21,-21,41,-40,58,-56,74,...,-125,-33,-57,-43,-78,-49,-90,-55,-101,a
3,3,0,0,21,-19,41,-39,57,-55,74,...,-124,-33,-56,-43,-76,-50,-89,-56,-100,a
4,4,0,0,20,-20,41,-39,57,-55,74,...,-124,-33,-56,-44,-76,-50,-89,-56,-100,a

In [11]:
# Lưu lại dưới dạng CSV
df.to_csv("gesture_dataset.csv", index=False)
print("✅ Đã tạo xong dataset: gesture_dataset.csv")
print(df.head())

✅ Đã tạo xong dataset: gesture_dataset.csv
   frame_index  x0  y0  x2  y1  x4  y2  x6  y3  x8  ...  y16  x34  y17  x36  \
0            0   0   0  21 -20  41 -38  57 -56  74  ... -123  -33  -56  -43
1            1   0   0  20 -20  41 -39  57 -56  74  ... -124  -33  -56  -43
2            2   0   0  21 -21  41 -40  58 -56  74  ... -125  -33  -57  -43
3            3   0   0  21 -19  41 -39  57 -55  74  ... -124  -33  -56  -43
4            4   0   0  20 -20  41 -39  57 -55  74  ... -124  -33  -56  -44

   y18  x38  y19  x40  y20  label
0  -77  -50  -88  -56  -99      a
1  -77  -49  -89  -55 -100      a
2  -78  -49  -90  -55 -101      a
3  -76  -50  -89  -56 -100      a
4  -76  -50  -89  -56 -100      a

[5 rows x 44 columns]